/* universal selectors...*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this is define what 1rem is
  font-size: 100%;
}

body {
  //apply body default style
  @apply bg-slate-50 box-border text-slate-700;

  //take the active view-port
  #app{
    @apply min-h-screen w-full;
  }

  //wrapper

  .wrapper{
    @apply flex flex-col flex-1 transition-all duration-300 ease-in-out lg:ml-72;
    
    &.expanded {
      @apply lg:ml-20;
    }

    .header{
      @apply sticky top-0 z-50 flex items-center h-16 w-full overflow-visible drop-shadow-sm bg-white dark:bg-slate-800;
    }

    .content{
      @apply flex flex-col w-full scroll-smooth;
      min-height: calc(100vh - 4rem);
    }

    .footer{
      @apply mt-auto flex justify-center items-center flex-wrap gap-x-8 gap-y-2 bg-white px-4 text-slate-500;
    }
  }
}
